<div class="footer" style="display: flex; justify-content: space-between; padding: 16px; height: 200px; background: linear-gradient(92deg, #ffffff 0.25%, #404248 63.21%, #38393D 100%);">

    <div style="display: flex; flex-direction: column;">
        <p>Funded by</p>
        <a href="https://bmds.bund.de/">
            <img src="{{ "/assets/images/bmds-logo.svg" | relative_url  }}" alt="BMDS" width="220px">
        </a>
    </div>
        
    <div style="display: flex; flex-direction: column; flex-grow: 1;">
        <p>In programme</p>
        <a href="https://www.bmv.de/EN/Topics/Digital-Matters/mFund/mFund.html">
            <img src="{{ "/assets/images/mfund-logo.svg" | relative_url  }}" alt="mFund" width="200px" style="margin-top: 25px; width: 100%; max-width: 200px;">
        </a>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div class="footer-item">
            <a href="{{ "/en/imprint" | relative_url}}">Imprint</a>
        </div>
        <div class="footer-item">
            <a href="{{ "/en/#contact" | relative_url}}">Contact us</a>
        </div>
        <div class="footer-item">
            <a href="https://github.com/mobydex/mobydex.github.io/tree/main">GitHub</a>
        </div>
    </div>
</div>

