<div class="footer" style="display: flex; justify-content: space-between; padding: 16px; height: 200px; background: linear-gradient(92deg, #ffffff 0.25%, #404248 63.21%, #38393D 100%);">

    <div style="display: flex; gap: 10px">
        <div style="display: flex; flex-direction: column;">
            <p>Funded by</p>
            <a href="https://www.bmv.de/">
              <div style="position:relative;width:244px"><img src="{{ "/assets/images/en/bmv-logo-p1.svg" | relative_url  }}" alt="B" style="position:absolute;left:20px;top:20px"><img src="{{ "/assets/images/en/bmv-logo-p2.svg" | relative_url  }}" alt="M" style="position:absolute;left:60px;top:20px;width:5px"><img src="{{ "/assets/images/en/bmv-logo-p3.svg" | relative_url  }}" alt="V" style="position:absolute;left:72px;top:20px;width:122px"></div>
            </a>
        </div>
        
        <div style="display: flex; flex-direction: column;">
            <p>In programme</p>
            <a href="https://www.bmv.de/EN/Topics/Digital-Matters/mFund/mFund.html">
                <img style="margin-top: 25px;" src="{{ "/assets/images/mfund-logo.svg" | relative_url  }}" alt="mFund" width="200px">
            </a>
        </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div class="footer-item">
            <a href="{{ "/en/imprint" | relative_url}}">Imprint</a>
        </div>
        <div class="footer-item">
            <a href="{{ "/en/#contact" | relative_url}}">Contact us</a>
        </div>
        <div class="footer-item">
            <a href="https://github.com/mobydex/mobydex.github.io/tree/main">GitHub</a>
        </div>
    </div>
</div>

