<div class="footer" style="display: flex; flex-direction: column; align-items: end; padding: 16px; height: 200px; background: linear-gradient(92deg, #2F3135 0.17%, #404248 53.21%, #38393D 100%);">
    <div class="footer-item">
        <a href="{{ "/imprint" | relative_url}}">Impressum</a>
    </div>
    <div class="footer-item">
        <a href="{{ "/#contact" | relative_url}}">Kontakt</a>
    </div>
    <div class="footer-item">
        <a href="https://github.com/mobydex/mobydex.github.io/tree/main">GitHub</a>
    </div>
</div>
  