
.body {
  width: 100%;
  /* display: grid; */
  box-sizing: border-box;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.header-item {
  color: #969696;
}

.main {
  /*
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  */
  margin: auto;
  max-width: 1200px;
  font-family: FiraGO;
  background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 30px;
}

.grid-row {
    display: contents; /* Allows children to be direct grid items */
    height: auto;
}

/* Differs from text-container only in word-wrap */
.centered {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  word-break: normal;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 16px;
}

.text-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  word-break: normal;

  /* box-sizing: border-box; */
  justify-content: center;
  align-items: center;
  /* margin: 16px; */
  margin: 0px;
  padding: 16px;
  /* margin: 0px; */
  /* padding: 16px; */
  /* height: auto; */
    /* Styling for the text */
}

.borderless {
  margin: 0;
  padding: 0;
}

.image-container {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0px;
  padding: 0;

  display: flex;
  width: 100%;
  overflow: hidden;
}

.image-container > img {
  box-sizing: border-box;
/*  width: 100%;*/
/*  max-width: 100%;*/
  height: auto;
  object-fit: cover;
}

.section-heading {
  color: #3F3F3F;
  font-size: 32px;
  font-family: FiraGO;
  font-weight: 800;
  word-wrap: break-word;
}

.description-box {
  padding: 0px;
  /* margin: 50px; */
  margin: auto;
}


/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


/*****************************************************************************
 * Factbox
 ****************************************************************************/

.factbox-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  color: white;
}

.factbox-container > * {
  flex: 1;
  padding: 20 0;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7px;
}

.factbox-container .property {
  align-self: stretch;
  text-align: center;
  font-size: 15px;
  font-weight: 350;
}

.factbox-container .value {
  align-self: stretch;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 800;
}





.partner-grid {
  width: 100%;
  padding: 16px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.partner-grid > * {
  align-items:  center;
  justify-self: center;
}

.partner-grid > img {
  width: 250px;
  height: auto
}

.partner-grid > :last-child {
  grid-column: 1 / -1
}

.main-menu {
  float: right;
  display: flex;
  padding: 5px 40px;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  list-style-type: none;
}

.main-menu a {
  color: #969696;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

/*
.main-menu > li {
}
*/

@media (max-width: 750px) {
  .grid-container {
      grid-template-columns: 1fr; /* One column */
  }

  /* Selecting each child explicitly to place them in the correct order */
  .grid-container .grid-row:nth-child(1) .image-container {
    grid-row: 1; /* Image 1 */
  }

  .grid-container .grid-row:nth-child(1) .text-container {
    grid-row: 2; /* Text 1 */
  }

  .grid-container .grid-row:nth-child(2) .image-container {
    grid-row: 3; /* Image 2 */
  }

  .grid-container .grid-row:nth-child(2) .text-container {
    grid-row: 4; /* Text 2 */
  }

  .grid-container .grid-row:nth-child(3) .image-container {
    grid-row: 5; /* Image 3 */
  }

  .grid-container .grid-row:nth-child(3) .text-container {
    grid-row: 6; /* Text 3 */
  }

  .image-container > img {
    /* max-height: 50%; */
    max-height: 300px;
    width: 100%;
    max-width: 100%;

    /* object-fit: cover; */
    /* transform: scale(0.5); */
  }
}


@media (max-width: 1000px) {
  .partner-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .partner-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (max-width: 700px) {
  .factbox-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .main-menu {
    float: none;
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .text-container {
    word-break: break-all;
  }
}


/*
.heading {
  text-align: center;
  color: #3F3F3F; font-size: 32px;
  font-family: FiraGO;
  font-weight: 800;
  word-wrap: break-word;
  width: 503px;
}

.content {
  flex: 1 1 0;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: FiraGO;
  font-weight: 300;
  word-wrap: break-word;
}

.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  display: inline-flex;
}

.center-box {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 8px;
  gap: 8px;
}


.two-column-content {
  color: black;
  font-size: 16px;
  font-family: FiraGO;
  font-weight: 300;
  word-wrap: break-word;
}
*/




#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
