/* fira-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: lighter;
  src: url('./fonts/fira-sans-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
} 

.post {
  padding: 16px;
}

.body {
  width: 100%;
  /* display: grid; */
  box-sizing: border-box;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.header-item {
  color: #969696;
}

.main {
  /*
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  */
  margin: auto;
  max-width: 1200px;
  font-family: 'Fira Sans';
  background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 30px;
}

.grid-row {
    display: contents; /* Allows children to be direct grid items */
    height: auto;
}

/* Differs from text-container only in word-wrap */
.centered {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  word-break: normal;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 16px;
}

.text-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  word-break: normal;

  /* box-sizing: border-box; */
  justify-content: center;
  align-items: center;
  /* margin: 16px; */
  margin: 0px;
  padding: 16px;
  /* margin: 0px; */
  /* padding: 16px; */
  /* height: auto; */
    /* Styling for the text */
}

.borderless {
  margin: 0;
  padding: 0;
}

.image-container {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0px;
  padding: 0;

  display: flex;
  width: 100%;
  overflow: hidden;
}

.image-container > img {
  box-sizing: border-box;
  /** Scale images to a bit more than half of the two column grid */
  width: 700px;
/*  width: 100%;*/
/*  max-width: 100%;*/
  height: auto;
  object-fit: cover;
}

.section-heading {
  color: #3F3F3F;
  font-size: 32px;
  font-family: 'Fira Sans';
  font-weight: 800;
  word-wrap: break-word;
}

.description-box {
  padding: 0px;
  /* margin: 50px; */
  margin: auto;
}


/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


/*****************************************************************************
 * Factbox
 ****************************************************************************/

.factbox-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  color: white;
}

.factbox-container > * {
  flex: 1;
  padding: 8px 0px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7px;
}

.factbox-container .property {
  align-self: stretch;
  text-align: center;
  font-size: 15px;
  font-weight: 350;
}

.factbox-container .value {
  align-self: stretch;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 800;
}





.partner-grid {
  width: 100%;
  padding: 16px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.partner-grid > * {
  align-items:  center;
  justify-self: center;
}

.partner-grid > img {
  width: 250px;
  height: auto
}

.partner-grid > :last-child {
  grid-column: 1 / -1
}

.main-menu {
  float: right;
  display: flex;
  padding: 5px 40px;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  list-style-type: none;
}

.main-menu a {
  color: #969696;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

/*
.main-menu > li {
}
*/

@media (max-width: 750px) {
  .grid-container {
      grid-template-columns: 1fr; /* One column */
  }

  /* Selecting each child explicitly to place them in the correct order */
  .grid-container .grid-row:nth-child(1) .image-container {
    grid-row: 1; /* Image 1 */
  }

  .grid-container .grid-row:nth-child(1) .text-container {
    grid-row: 2; /* Text 1 */
  }

  .grid-container .grid-row:nth-child(2) .image-container {
    grid-row: 3; /* Image 2 */
  }

  .grid-container .grid-row:nth-child(2) .text-container {
    grid-row: 4; /* Text 2 */
  }

  .grid-container .grid-row:nth-child(3) .image-container {
    grid-row: 5; /* Image 3 */
  }

  .grid-container .grid-row:nth-child(3) .text-container {
    grid-row: 6; /* Text 3 */
  }

  .image-container > img {
    /* max-height: 50%; */
    max-height: 300px;
    width: 100%;
    max-width: 100%;

    /* object-fit: cover; */
    /* transform: scale(0.5); */
  }
}


@media (max-width: 1000px) {
  .partner-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .partner-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (max-width: 700px) {
  .factbox-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .main-menu {
    float: none;
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .text-container {
    word-break: break-all;
  }
}

