<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="body">

    <div class="main" style="height: 100vh;">

        <div style="height: 89px;">
            {%- include header.html -%}
        </div>

        <div style="height: calc(100vh - 89px); overflow: auto; ">
            <main class="page-content" aria-label="Content" style="min-height: calc(100vh - 89px - 232px);">
                <div class="wrapper">
                {{ content }}
                </div>
            </main>
        
            {%- include footer.html -%}
        
        </div>
    </div>

  </body>

</html>