---
layout: en_default
---

<div class="home" style="padding: 16px;">
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">
      <a href="{{ "/feed.xml" | relative_url }}"><span style="background-color: orange; height: 24px; border-radius: 8px;"><img src="{{ '/assets/images/rss.svg' | relative_url }}" style="padding-left: 4px; padding-right: 4px; height: 18px; width: auto;"></span></a>
      {{ page.list_title | default: "Posts" }}
    </h2>
    <div class="post-list">
      {%- for post in site.posts -%}
      {%- assign path_lang = post.url | split: '/' | slice: 1 | first -%}
      {%- if path_lang == 'en' -%}
      <div>
        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
        <div style="display: flex; flex-direction: row;">
          <div>
            {%- assign page_icon = post.icon | default: "newspaper" -%}
              <img class="post-icon" src="{{ '/assets/images/news' | relative_url }}/{{ page_icon }}.svg" style="width: 70px; height: 70px; padding: 10px;">
          </div>
          <div>
            <h3>
              {{ post.date | date: date_format }}:
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }} 
              <a class="post-link" href="{{ post.url | relative_url }}" style="font-size: small;">
                Continue reading ...
              </a>
            {%- endif -%}
          </div>
        </div>

      </div>
      {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>
